@page "/counter"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string? message;

    private async void IncrementCount()
    {
        currentCount++;
        await localStorage.SetItemAsStringAsync("message", "Hello World!");
        message = await localStorage.GetItemAsStringAsync("message");
    }
}
